<div id="<%= dom_id staff %>">
  <p>
    <strong>User:</strong>
    <%= staff.user_id %>
  </p>

  <p>
    <strong>Gym:</strong>
    <%= staff.gym_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= staff.position %>
  </p>

  <p>
    <strong>Hire date:</strong>
    <%= staff.hire_date %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= staff.salary %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= staff.status %>
  </p>

</div>
