<div id="<%= dom_id invoice %>">
  <p>
    <strong>Member:</strong>
    <%= invoice.member_id %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= invoice.total_amount %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= invoice.due_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

  <p>
    <strong>Invoice number:</strong>
    <%= invoice.invoice_number %>
  </p>

</div>
