<div id="<%= dom_id membership_history %>">
  <p>
    <strong>Member:</strong>
    <%= membership_history.member_id %>
  </p>

  <p>
    <strong>Membership plan:</strong>
    <%= membership_history.membership_plan_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= membership_history.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= membership_history.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= membership_history.status %>
  </p>

  <p>
    <strong>Payment amount:</strong>
    <%= membership_history.payment_amount %>
  </p>

</div>
