<div id="<%= dom_id booking %>">
  <p>
    <strong>Member:</strong>
    <%= booking.member_id %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= booking.activity_id %>
  </p>

  <p>
    <strong>Booking date:</strong>
    <%= booking.booking_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= booking.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= booking.end_time %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>

</div>
