<div id="<%= dom_id staff_schedule %>">
  <p>
    <strong>Staff:</strong>
    <%= staff_schedule.staff_id %>
  </p>

  <p>
    <strong>Gym:</strong>
    <%= staff_schedule.gym_id %>
  </p>

  <p>
    <strong>Day of week:</strong>
    <%= staff_schedule.day_of_week %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= staff_schedule.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= staff_schedule.end_time %>
  </p>

</div>
