<p style="color: green"><%= notice %></p>

<%= render @staff_schedule %>

<div>
  <%= link_to "Edit this staff schedule", edit_staff_schedule_path(@staff_schedule) %> |
  <%= link_to "Back to staff schedules", staff_schedules_path %>

  <%= button_to "Destroy this staff schedule", @staff_schedule, method: :delete %>
</div>
