<div id="<%= dom_id payment %>">
  <p>
    <strong>Member:</strong>
    <%= payment.member_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= payment.payment_method %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= payment.payment_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment.status %>
  </p>

  <p>
    <strong>Reference number:</strong>
    <%= payment.reference_number %>
  </p>

</div>
