<div id="<%= dom_id gym %>">
  <p>
    <strong>Name:</strong>
    <%= gym.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= gym.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= gym.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= gym.email %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= gym.hours %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= gym.status %>
  </p>

</div>
