<div id="<%= dom_id activity %>">
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= activity.duration %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= activity.capacity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= activity.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= activity.category %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= activity.status %>
  </p>

  <p>
    <strong>Gym:</strong>
    <%= activity.gym_id %>
  </p>

</div>
