<%= form_with(model: membership_plan) do |form| %>
  <% if membership_plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(membership_plan.errors.count, "error") %> prohibited this membership_plan from being saved:</h2>

      <ul>
        <% membership_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :duration_months, style: "display: block" %>
    <%= form.number_field :duration_months %>
  </div>

  <div>
    <%= form.label :features, style: "display: block" %>
    <%= form.textarea :features %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
