<div id="<%= dom_id membership_plan %>">
  <p>
    <strong>Name:</strong>
    <%= membership_plan.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= membership_plan.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= membership_plan.price %>
  </p>

  <p>
    <strong>Duration months:</strong>
    <%= membership_plan.duration_months %>
  </p>

  <p>
    <strong>Features:</strong>
    <%= membership_plan.features %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= membership_plan.status %>
  </p>

</div>
